<!DOCTYPE html>
<html>
  <body>
    <head>
      <title>演示Vue</title>
    </head>
    <div id='app'>
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <span>Selected: {{ selected }}</span>
    </div> 
  </body>
  <script src="./vue.js"></script>
  <script type="text/javascript">
    var example1 = new Vue({
      el: '#app',
      data: {
        selected: 'A',
        options: [
          { text: 'one', value: 'A' },
          { text: 'two', value: 'B' },
          { text: 'three', value: 'C' },
        ]
      }
    });
  </script>
</html>